In [43]:
from flask import Flask, request

import pandas as pd

In [44]:
url = "https://www.auto-data.net/en/audi-100-avant-4a-c4-2.8-e-174hp-automatic-26292"
dfs1 = pd.read_html(url , attrs={"class" : "cardetailsout car2"})

In [45]:
type(dfs1)

list

In [39]:
print(dfs1)

[                                  General information  \
0                                               Brand
1                                               Model
2                                          Generation
3                               Modification (Engine)
4                                 Start of production
..                                                ...
66                                      Steering type
67                                     Power steering
68                                         Tires size
69                                    Wheel rims size
70  (adsbygoogle = window.adsbygoogle || []).push(...

                                General information.1
0                                                Audi
1                                                 100
2                                   100 Avant (4A,C4)
3                            2.8 E (174 Hp) Automatic
4                                           1991 year
..                                                ...
66                           Steering rack and pinion
67                                 Hydraulic Steering
68                                         195/65 R15
69                                                 15
70  (adsbygoogle = window.adsbygoogle || []).push(...

[71 rows x 2 columns]]

In [37]:
dfs1.remove("(adsbygoogle = window.adsbygoogle || []).push({});")

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [25]:
newdf1 = dfs1[0].rename({"General information" : "Header", "General information.1":"values"}, axis =1).T

In [26]:
newdf1

,0,1,2,3,4,5,6,7,8,9,...,61,62,63,64,65,66,67,68,69,70
Header,Brand,Model,Generation,Modification (Engine),Start of production,End of production,Powertrain Architecture,Body type,Seats,Doors,...,Front suspension,Rear suspension,Front brakes,Rear brakes,Assisting systems,Steering type,Power steering,Tires size,Wheel rims size,(adsbygoogle = window.adsbygoogle || []).push(...
values,Audi,100,"100 Avant (4A,C4)",2.8 E (174 Hp) Automatic,1991 year,1994 year,Internal Combustion engine,Station wagon (estate),5,5,...,Spring Strut,Helical spring,Ventilated discs,Disc,ABS (Anti-lock braking system),Steering rack and pinion,Hydraulic Steering,195/65 R15,15,(adsbygoogle = window.adsbygoogle || []).push(...

In [60]:
newdf1.columns =[(columns="Header")]

SyntaxError: invalid syntax (<ipython-input-60-c00651d785b7>, line 1)

In [49]:
newdf1.columns

RangeIndex(start=0, stop=71, step=1)

In [5]:
newdf1.shape

(2, 71)

In [52]:
newdf1.columns = ["Brand Model", "Generation" ,"Modification (Engine)","Start of production","End of production","Powertrain Architecture","Body type","Seats","Doors", "Performance specs","Fuel consumption (economy) - urban","Fuel consumption (economy) - extra urban","Fuel consumption (economy) - combined","Fuel Type","Acceleration 0 - 100 km/h","Acceleration 0 - 62 mph","Acceleration 0 - 60 mph (Calculated by Auto-Data.net)","Maximum speed","Weight-to-power ratio","Weight-to-torque ratio","Engine specs","Power","Power per litre","Torque","Engine location","Engine Model/Code","Engine displacement","Number of cylinders","Position of cylinders","Cylinder Bore","Piston Stroke","Compression ratio","Number of valves per cylinder","Fuel System","Engine aspiration","Valvetrain","Engine oil capacity","Oil viscosity","Engine oil specification","Coolant","(adsbygoogle = window.adsbygoogle || []).push({});","Space", "Volume and weights","Kerb Weight","Max. weight","Max load","Trunk (boot) space - minimum","Trunk (boot) space - maximum","Fuel tank capacity","Dimensions","Length","Width","Height","Wheelbase","Front track","Rear (Back) track","Drag coefficient (Cd)","Drivetrain", "brakes and suspension specs","Drivetrain Architecture","Drive wheel","Number of Gears (automatic transmission)","Front suspension","Rear suspension","Front brakes","Rear brakes","Assisting systems","Steering type","Power steering","Tires size,Wheel rims size","(adsbygoogle = window.adsbygoogle || []).push({})"]

In [53]:
newdf1

,Brand Model,Generation,Modification (Engine),Start of production,End of production,Powertrain Architecture,Body type,Seats,Doors,Performance specs,...,Number of Gears (automatic transmission),Front suspension,Rear suspension,Front brakes,Rear brakes,Assisting systems,Steering type,Power steering,"Tires size,Wheel rims size",(adsbygoogle = window.adsbygoogle || []).push({})
Header,Brand,Model,Generation,Modification (Engine),Start of production,End of production,Powertrain Architecture,Body type,Seats,Doors,...,Front suspension,Rear suspension,Front brakes,Rear brakes,Assisting systems,Steering type,Power steering,Tires size,Wheel rims size,(adsbygoogle = window.adsbygoogle || []).push(...
values,Audi,100,"100 Avant (4A,C4)",2.8 E (174 Hp) Automatic,1991 year,1994 year,Internal Combustion engine,Station wagon (estate),5,5,...,Spring Strut,Helical spring,Ventilated discs,Disc,ABS (Anti-lock braking system),Steering rack and pinion,Hydraulic Steering,195/65 R15,15,(adsbygoogle = window.adsbygoogle || []).push(...

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Header to values
Data columns (total 71 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
 1   1       2 non-null      object
 2   2       2 non-null      object
 3   3       2 non-null      object
 4   4       2 non-null      object
 5   5       2 non-null      object
 6   6       2 non-null      object
 7   7       2 non-null      object
 8   8       2 non-null      object
 9   9       2 non-null      object
 10  10      2 non-null      object
 11  11      2 non-null      object
 12  12      2 non-null      object
 13  13      2 non-null      object
 14  14      2 non-null      object
 15  15      2 non-null      object
 16  16      2 non-null      object
 17  17      2 non-null      object
 18  18      2 non-null      object
 19  19      2 non-null      object
 20  20      2 non-null      object
 21  21      2 non-null      object
 22  22      2 non-null      object
 23  23      2 non-null      object
 24  24      2 non-null      object
 25  25      2 non-null      object
 26  26      2 non-null      object
 27  27      2 non-null      object
 28  28      2 non-null      object
 29  29      2 non-null      object
 30  30      2 non-null      object
 31  31      2 non-null      object
 32  32      2 non-null      object
 33  33      2 non-null      object
 34  34      2 non-null      object
 35  35      2 non-null      object
 36  36      2 non-null      object
 37  37      2 non-null      object
 38  38      2 non-null      object
 39  39      2 non-null      object
 40  40      2 non-null      object
 41  41      2 non-null      object
 42  42      2 non-null      object
 43  43      2 non-null      object
 44  44      2 non-null      object
 45  45      2 non-null      object
 46  46      2 non-null      object
 47  47      2 non-null      object
 48  48      2 non-null      object
 49  49      2 non-null      object
 50  50      2 non-null      object
 51  51      2 non-null      object
 52  52      2 non-null      object
 53  53      2 non-null      object
 54  54      2 non-null      object
 55  55      2 non-null      object
 56  56      2 non-null      object
 57  57      2 non-null      object
 58  58      2 non-null      object
 59  59      2 non-null      object
 60  60      2 non-null      object
 61  61      2 non-null      object
 62  62      2 non-null      object
 63  63      2 non-null      object
 64  64      2 non-null      object
 65  65      2 non-null      object
 66  66      2 non-null      object
 67  67      2 non-null      object
 68  68      2 non-null      object
 69  69      2 non-null      object
 70  70      2 non-null      object
dtypes: object(71)
memory usage: 1.1+ KB

In [28]:
new_df1.isnull().sum()

0     0
1     0
2     0
3     0
4     0
     ..
66    0
67    0
68    0
69    0
70    0
Length: 71, dtype: int64

In [50]:
newdf1.to_csv('file2.csv', header=True, index=False)