In [1]:
def dump_data():
    try:
        # Loading or Opening the json file
        strData = ""
        with open("C:\Users\shubh\OneDrive\Desktop\Clg_work\Trimester-2\Mongo\Mongo_Project\flask\temp.json") as reader:
            for i in reader:
                strData = i
            strData = {strData: strData}
           # print("Data Type : ", type(strData))
        # file_data = json.load(file)

        # Inserting the loaded data in the Collection
      #  Collection.insert_many([strData])
    #except Exception as ex:
      #  print("Exception in dump : ",(str(ex)))

SyntaxError: unexpected EOF while parsing (<ipython-input-1-ad3f5a4b247e>, line 15)

In [7]:
strData = ""
with open("C:/Users/shubh/OneDrive/Desktop/Clg_work/Trimester-2/Mongo/Mongo_Project/flask/temp.json") as reader:
    for i in reader:
       # strData = i
        print(i)
        break
    #strData = {strData: strData}

[["Brand","Audi"],["Model","80"],["Generation","80 (B2, Typ 81,85)"],["Modification (Engine)","1.6 GLE (110 Hp)"],["Start of production","1979 year"],["End of production","1982 year"],["Powertrain Architecture","Internal Combustion engine"],["Body type","Sedan"],["Seats","5"],["Doors","2-4"],["Fuel consumption (economy) - combined","9.2 l\/100 km 25.57 US mpg 30.7 UK mpg 10.87 km\/l"],["Fuel Type","Petrol (Gasoline)"],["Acceleration 0 - 100 km\/h","10.2 sec"],["Acceleration 0 - 62 mph","10.2 sec"],["Acceleration 0 - 60 mph (Calculated by Auto-Data.net)","9.7 sec"],["Maximum speed","180 km\/h 111.85 mph"],["Weight-to-power ratio","8.5 kg\/Hp, 118.3 Hp\/tonne"],["Weight-to-torque ratio","6.8 kg\/Nm, 147.3 Nm\/tonne"],["Power","110 Hp @ 6100 rpm."],["Power per litre","69.3 Hp\/l"],["Torque","137 Nm @ 5000 rpm. 101.05 lb.-ft. @ 5000 rpm."],["Engine Model\/Code","YZ"],["Engine displacement","1588 cm 3  96.91 cu. in."],["Number of cylinders","4"],["Position of cylinders","Inline"],["Cylinder Bore","79.5 mm 3.13 in."],["Piston Stroke","80 mm 3.15 in."],["Compression ratio","9.5"],["Number of valves per cylinder","2"],["Fuel System","Multi-point indirect injection"],["Engine aspiration","Naturally aspirated engine"],["Engine oil capacity","3.5 l 3.7 US qt | 3.08 UK qt"],["Oil viscosity","Log in to see."],["Kerb Weight","930 kg 2050.3 lbs."],["Max. weight","1410 kg 3108.52 lbs."],["Max load","480 kg 1058.22 lbs."],["Trunk (boot) space - minimum","500 l 17.66 cu. ft."],["Fuel tank capacity","68 l 17.96 US gal | 14.96 UK gal"],["Length","4383 mm 172.56 in."],["Width","1682 mm 66.22 in."],["Height","1365 mm 53.74 in."],["Wheelbase","2541 mm 100.04 in."],["Front track","1400 mm 55.12 in."],["Rear (Back) track","1420 mm 55.91 in."],["Drag coefficient (C d )","0.40"],["Minimum turning circle (turning diameter)","10.4 m 34.12 ft."],["Drivetrain Architecture","The Internal combustion engine (ICE) drives the front wheels of the vehicle."],["Drive wheel","Front wheel drive"],["Number of Gears (manual transmission)","4"],["Steering type","Steering rack and pinion"],["Tires size","175\/70 R13"],["Wheel rims size","13"]]

In [53]:
!pip install --upgrade beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\shubh\anaconda3\lib\site-packages (4.4.1)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\shubh\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)
Installing collected packages: beautifulsoup4
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.4.1

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
html-table-parser 0.1.0 requires beautifulsoup4==4.4.1, but you have beautifulsoup4 4.10.0 which is incompatible.

    Uninstalling beautifulsoup4-4.4.1:
      Successfully uninstalled beautifulsoup4-4.4.1
Successfully installed beautifulsoup4-4.10.0

In [55]:
!pip install --upgrade html5lib

Requirement already satisfied: html5lib in c:\users\shubh\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\shubh\anaconda3\lib\site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in c:\users\shubh\anaconda3\lib\site-packages (from html5lib) (0.5.1)

In [143]:
from flask import Flask, request

import pandas as pd

In [144]:
url = "https://www.auto-data.net/en/audi-100-avant-4a-c4-2.8-e-174hp-automatic-26292"
dfs = pd.read_html(url)

In [145]:
df = dfs[1]
df.head()

     General information     General information.1
0                  Brand                      Audi
1                  Model                       100
2             Generation         100 Avant (4A,C4)
3  Modification (Engine)  2.8 E (174 Hp) Automatic
4    Start of production                 1991 year

In [ ]:
df.

In [146]:
df.shape

(71, 2)

In [147]:
df.tail()

,General information,General information.1
66,Steering type,Steering rack and pinion
67,Power steering,Hydraulic Steering
68,Tires size,195/65 R15
69,Wheel rims size,15
70,(adsbygoogle = window.adsbygoogle || []).push(...,(adsbygoogle = window.adsbygoogle || []).push(...

In [148]:
new_df = df.drop_duplicates()
new_df

      General information           General information.1
0                   Brand                            Audi
1                   Model                             100
2              Generation               100 Avant (4A,C4)
3   Modification (Engine)        2.8 E (174 Hp) Automatic
4     Start of production                       1991 year
..                    ...                             ...
65      Assisting systems  ABS (Anti-lock braking system)
66          Steering type        Steering rack and pinion
67         Power steering              Hydraulic Steering
68             Tires size                      195/65 R15
69        Wheel rims size                              15

[70 rows x 2 columns]

In [138]:
new_df.isnull().sum()

General information      0
General information.1    0
dtype: int64

In [141]:
# storing the data in JSON format
new_df.to_json('file.json', orient = 'values', compression = 'infer', index = 'true')

In [142]:
# reading the JSON file
new_df = pd.read_json('file.json', orient ='values', compression = 'infer')
 
# displaying the DataFrame
print(new_df)

      General information           General information.1
0                   Brand                            Audi
1                   Model                             100
2              Generation               100 Avant (4A,C4)
3   Modification (Engine)        2.8 E (174 Hp) Automatic
4     Start of production                       1991 year
..                    ...                             ...
65      Assisting systems  ABS (Anti-lock braking system)
66          Steering type        Steering rack and pinion
67         Power steering              Hydraulic Steering
68             Tires size                      195/65 R15
69        Wheel rims size                              15

[70 rows x 2 columns]

In [116]:
newdf1.isnull().sum().sum()

0

In [45]:
app = Flask(__name__)

@app.route("/generate_json")

def generate_json():
    url = "https://www.auto-data.net/en/audi-100-avant-4a-c4-2.8-e-174hp-automatic-26292"
    url = request.args.get("url")
    # defining the html contents of a URL.
    xhtml = get_data(url).decode("utf-8")
    # Defining the HTMLTableParser object
    #parser = HTMLTableParser()
    

    # Storing the returned html data in the HTMLTableParser object.
    #parser.feed(xhtml)

    # Converting the parsed data to PandasDataFrame.
    pd.set_option("display.max_rows", len(parser.tables[1]))
    print("\n\nPANDAS DATAFRAME\n")
    
    print(pd.DataFrame(parser.tables[1]))
    #df = pd.DataFrame(parser.tables[1])

In [150]:
new_df.to_csv('file1.csv', header=False, index=False)

In [ ]:
new_df.to_json('file.json', orient = 'values', compression = 'infer', index = 'true')